<div class="row col-6 card shadow mx-auto" style="width: 35rem">
  <div class="card-body text-center">
    <h4 class="card-title">{{ book.name }}</h4>
    <h5>{{ book.author }}</h5>
    <div class="d-flex justify-content-between mt-3">
      <div class="col-6">
        <img
          src="https://fakeimg.pl/150x210/"
          width="150"
          height="210"
          class="card-img-top img-fluid"
        />
      </div>
      <div class="col-6">
        <p class="text-start fs-6 p-2">{{ book.description }}</p>
      </div>
    </div>

    <div class="mt-2">
      <button
        type="button"
        class="btn btn-sm btn-outline-danger mx-2 my-2"
        (click)="onClickBtnDelete()"
      >
        Supprimer
      </button>
      <button routerLink="/books" class="btn btn-sm btn-outline-dark mx-2 my-2">
        Retour
      </button>
    </div>
  </div>
</div>
